@charset "utf-8";

/* mobile first ----------------------------------------- */
.base-footer{width:100%; padding:2vw; background:#1b1b1b; text-align: center; color:#fff; font-size:2vw; line-height:3vw;}
.base-footer address{font-style:normal; letter-spacing:1px; font-weight: 200;}
.base-footer address b{font-weight: 600}
.footer-copy{font-style:normal; letter-spacing:1px; font-weight: 200; margin-top:5px}

.base-header{position:fixed; width:100%; top:0; left:0; min-height:50px; background:#fff; z-index:10}
.header-wrap{width:100%; margin:0 auto; position:relative;}
.header-wrap .logo{position:absolute; left:15px; top:19px; width:106px; height:12px; background:url(../img/common/logo_m.png) no-repeat 0 0; background-size:cover}

.gnb-wrap{display:none;}


.base-body{margin-top:50px; width:100%}
.base-main{width:100%;}

/* main */
.main-wrap{width:100%; overflow:hidden;}
.main-row{float:left; width:100%;}
.main-visual{float:left; width:100%; position: relative;}
.main-pof,
.main-img{float:left; width:33.3333%}
.main-pof img,
.main-img img{width:100%; display:block;}
.main-pof a,
.main-img a{display:block;}

.main-pof.col-2{width:66.6667%}
.square-1{float:left}
.square-2{float:left}
.square-3{float:left}
.square-4{float:left}
.square-5{float:left}
.square-6{float:right}
.square-7{float:right}
.square-8{float:right}
.square-9{float:left}
.square-10{float:right}

.main-visual .owl-dots{display:none}

.main-square{position:relative; float:left; overflow:hidden;}
.main-square h3{position:absolute; font-size:3vw; letter-spacing:0.05em; padding:2vw 4vw 0; font-weight: 600; z-index:10;}

.main-news{position:relative; float:left; min-width:33.3334%; max-width:33.3334%; padding-bottom:33.3333%; background:#3d47da}
.main-news h3{color:#fff;}
.main-news .owl-carousel{position: absolute; width:100%; height:100%; padding-top:9.2vw;}
.main-news .owl-carousel a{display:block; width:100%; font-size:3vw; color:#fff; font-weight:600; letter-spacing: 0; word-break: keep-all; line-height: 5vw; padding:0 4vw;}
.main-news .owl-carousel .news-date{display:none;}
.main-news .owl-carousel .owl-dots{display:none}

.main-client{position:relative; float:left; min-width:33.3333%; max-width:33.3333%; padding-bottom:33.3333%; background:#fff}
.main-client .owl-carousel{position: absolute; top:0; width:100%; height:100%;}
.main-client .owl-carousel a{font-size:11px; color:#fff; font-weight:600; letter-spacing: 0; word-break: keep-all; line-height: 15px}
.main-client .owl-carousel .news-date{display:none;}
.main-client .owl-carousel .item{width:100%; height:100%; padding:0;}
.main-square .owl-carousel .owl-dots{position: absolute; bottom:15px; width:100%; text-align: center}
.main-square .owl-carousel .owl-dot{width:4px; height:4px; border-radius:4px; background:#000; opacity:0.3; margin:0 3px}
.main-square .owl-carousel .owl-dot.active{opacity:1}
.main-client .btn-more{background:url(../img/common/btn_more2_m.png) no-repeat 0 0; background-size:cover}

.btn-more{position:absolute; top:3.2vw; right:2.7vw; width:2vw; height:2vw; z-index: 10; background:url(../img/common/btn_more_m.png) no-repeat 0 0; background-size:cover}

.main-visual-num{position: absolute; bottom:2vw; right:4vw; z-index: 10;letter-spacing: 1px}
.main-visual-num span{font-size:2vw; color:#fff; opacity: 0.3;}
.main-visual-num b {font-size:8vw; color:#fff;}

.main-visual .owl-carousel .owl-nav .owl-prev{width:50px; height:50px; background:url(../img/common/btn_prev.png) no-repeat 0 0; background-size:cover; position: absolute; top:50%; left:0; z-index: 10; margin-top:-25px;}
.main-visual .owl-carousel .owl-nav .owl-next{width:50px; height:50px; background:url(../img/common/btn_next.png) no-repeat 0 0; background-size:cover; position: absolute; top:50%; right:0; z-index: 10; margin-top:-25px;}