@charset "utf-8";

/* pc(mobile view) */





/* colunns 4 / gutters 16 ---------------- */
/* handset */ 
@media all and (max-width:599px) and (orientation:portrait) {
    body:after{content:"handset"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}
/* small handset */ 
@media all and (max-width:359px) {
    body:after{content:"small handset"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}
/* small handset landscape */ 
@media all and (max-width:599px) and (orientation:landscape) { 
    body:after{content:"small handset landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}

/* colunns 8 / gutters 16 ---------------- */
/* tablet & handset landscape */ 
@media all and (max-width:959px) and (orientation:landscape) { 
    body:after{content:"tablet & handset landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}
/* tablet  */ 
@media all and (min-width:600px) and (max-width:1112px) and (orientation:portrait) {
    body:after{content:"tablet"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}
}


/* colunns 12 / gutters 24  ---------------- */
/* tablet landscape */ 
@media all and (min-width:960px) and (max-width:1439px) and (orientation:landscape) {
    body:after{content:"tablet landscape"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}


    .base-header{min-height:190px; transition:min-height 0.2s}
    .header-wrap{width:100%; max-width:1400px}
    .header-wrap .logo{left:50%; margin-left:-124px; top:48px; width:247px; height:30px; background:url(../img/common/logo.png) no-repeat 0 0; background-size:cover; transition:top 0.2s}

    .gnb-wrap{display:block; width:100%; position: absolute; top:120px; transition:top 0.2s}
    .gnb-dep1{width:100%; text-align:center;}
    .gnb-dep1 > li{display:inline-block; position: relative; transition:all 0.15s}
    .gnb-dep1 > li > a{display:block; padding:0 50px; font-size:20px; letter-spacing:1px; color:#1b1b1b; text-decoration:none; font-weight:600}
    .gnb-dep1 > li > a:hover,
    .gnb-dep1 > li > a:focus{color:red}
    .gnb-dep2{display:none;}

    .base-body{margin-top:190px;}

    .type-mini .base-header{min-height:100px; box-shadow:0 0 10px rgba(0,0,0,0.1)}
    .type-mini .header-wrap .logo{top:30px;}
    .type-mini .gnb-wrap{top:30px}
    .type-mini .gnb-dep1 > li > a{padding:0 30px; font-weight: 400}
    .type-mini .gnb-dep1 > li.n3{margin-right:320px}
    .type-mini .gnb-dep1 > li.n4{left:70px}
    .type-mini .gnb-dep1 > li.n5{left:70px;}
    .type-mini .gnb-dep1 > li.n5 a{ padding:0 20px}
    .type-mini .gnb-dep1 > li.n6{left:70px}

    /* main */
    .main-wrap{position:relative; width:100%; max-width:1400px; margin:0 auto; overflow:hidden;}
    .main-visual{float:left; width:100%;}
    .main-pof,
    .main-img{float:left; width:25%}
    .main-pof img,
    .main-img img{width:100%; display:block;}
    .main-pof a,
    .main-img a{display:block;}

    .main-pof.col-2{width:50%}
    .main-news{position:relative; float:left; min-width:25%; padding-bottom:25%; background:#3d47da}
    .main-news h3{position: absolute; color:#fff;}


}


/* desktop */ 
@media all and (min-width:1400px) {
    .ui-d body:after{content:"desktop"; display:block; position:fixed; bottom:0; right:0; padding:5px; background:#000; color:#fff; font-size:12px; z-index:1000; opacity:0.5}

    .base-header{min-height:190px; transition:min-height 0.2s}
    .header-wrap{width:100%; max-width:1400px}
    .header-wrap .logo{left:50%; margin-left:-124px; top:48px; width:247px; height:30px; background:url(../img/common/logo.png) no-repeat 0 0; background-size:cover; transition:top 0.2s}

    .gnb-wrap{display:block; width:100%; position: absolute; top:120px; transition:top 0.2s}
    .gnb-dep1{width:100%; text-align:center;}
    .gnb-dep1 > li{display:inline-block; position: relative; transition:all 0.15s}
    .gnb-dep1 > li > a{display:block; padding:0 50px; font-size:20px; letter-spacing:1px; color:#1b1b1b; text-decoration:none; font-weight:600}
    .gnb-dep1 > li > a:hover,
    .gnb-dep1 > li > a:focus{color:red}
    .gnb-dep2{display:none;}

    .base-body{margin-top:190px;}

    .type-mini .base-header{min-height:100px; box-shadow:0 0 10px rgba(0,0,0,0.1)}
    .type-mini .header-wrap .logo{top:30px;}
    .type-mini .gnb-wrap{top:30px}
    .type-mini .gnb-dep1 > li > a{padding:0 30px; font-weight: 400}
    .type-mini .gnb-dep1 > li.n3{margin-right:320px}
    .type-mini .gnb-dep1 > li.n4{left:70px}
    .type-mini .gnb-dep1 > li.n5{left:70px;}
    .type-mini .gnb-dep1 > li.n5 a{ padding:0 20px}
    .type-mini .gnb-dep1 > li.n6{left:70px}

    /* main */
    .main-wrap{position:relative; width:100%; max-width:1400px; margin:0 auto; overflow:hidden;}
    .main-visual{float:left; width:80%;}
    .main-pof,
    .main-img{float:left; width:20%}
    .main-pof img,
    .main-img img{width:100%; display:block;}
    .main-pof a,
    .main-img a{display:block;}

    .main-pof.col-2{width:40%}
    .main-news{position:relative; float:left; min-width:20%; padding-bottom:20%; background:#3d47da}
    .main-news h3{position: absolute; color:#fff;}

}